<div class="top_cover_img">
  <div class="top_cover_inside">
    <div class="ue_42">
      <% flash.each do |name, value| %>
        <div class="alert alert-<%= name %> custom-alert" style="text-shadow: none;">
          <div align="center"><%= value %></div>
        </div>
      <%end%>
    </div>

    <div align="center" id="ytform_all">
      <%= render 'evangelists/ytform' %>
    </div>
  </div>
</div>

<!-- popup -->
<div id="pop_loginfirst", class="pop">
  <h2 align="center" style="margin:15px;"> Welcome </h2>
  <h4 align="center" style="margin:5px;"> Log in via </h4>
  <br>
  <%= link_to user_facebook_omniauth_authorize_path, role:"menuitem", tabindex: "-1", class: "btn btn-default_w", style: "color: #fff;width:150px;" do %><i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp; Facebook <% end %><br><br>
  <%= link_to user_google_omniauth_authorize_path, role:"menuitem", tabindex: "-1", class: "btn btn-default_w", style: "color: #fff; width:150px;" do %><i class="fa fa-google" aria-hidden="true"></i>&nbsp;&nbsp; Google+ <% end %>
  <br><br>
</div>
